<div class="orders-container">
  <h1>My Orders</h1>

  <% if @orders.any? %>
    <table class="wrapper orders-table">
      <thead class="orders-thead">
      <tr>
        <th>Order</th>
        <th>Price</th>
        <th>Contact to User</th>
      </tr>
      </thead>

      <% @orders.each do |order| %>
        <tbody class="orders-tbody">
        <tr>
          <td>
            <% if order.product.product_image.attached? %>
              <%= image_tag url_for(order.product.product_image), class: "order-product-image" %>
            <% end %>
            <%= link_to order.product.title, product_path(order.product) %>
          </td>
          <td>
            <%= order.amount %> <i class="fa-solid fa-coins"></i>
          </td>
          <td>
            <%= render "orders/seller_info", order: order %>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <p style="text-align: center">You don’t have any orders yet.</p>
  <% end %>
</div>
