@import "form.css";
@import "errors.css";
@import "profile.css";
@import "nav-menu.css";
@import "modal.css";
@import "auction.css";
@import "image-uploader.css";
@import "dropdown-menu.css";

/* Global Styles */

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

.main-container {
    width: 100%;
    max-width: 1500px;
    padding: 16px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #2b333b;
    font-size: 30px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: #74808d;
    font-weight: 400;
    font-size: 14px;
}

label {
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    padding: 0
}

input, textarea, select {
    background-color: #fafafa;
    border: 1px solid #dfe4eb;
    border-radius: 8px;
    padding: 12px 8px 12px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #2b333b;
    outline: none;
    width: 100%;

}

.wrapper {
    background-color: #ffffff;
    border: 1px solid #dfe4eb;
    border-radius: 14px;
    padding: 16px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 24px;
    width: 100%;

}

/* Reusable button style */

.submit-button {
    border: none;
    background-color: #1f8fff;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 8px 14px 8px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    text-align: center;


}

.submit-button:hover {
    background-color: #3d9eff;
    transition: all;
}

.go-button {
    color: #1f8fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

.danger-button {
    width: 10rem;
    border: 2px solid #ff3535;
    color: #ff3535;
    background: #fafafa;
    border-radius: 8px;
    padding: 14px 8px 14px 8px;
    font-size: 16px;
    font-weight: 500;
}

.danger-button:hover {
    background: #dfe4eb;
}

.secondary-button {
    width: 10rem;
    color: #73808c;
    background-color: #f3f5f7;
    border-radius: 8px;
    border: 2px solid #dfe4eb;
    padding: 14px 8px 14px 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}

/* Logo */

.logo {
    color: #fff;
    background-color: #1f8fff;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    width: 40px;
    height: 40px;

}

/* Logout button */

.logout-button {
    background-color: transparent;
    color: red;
    font-size: 14px;
    font-weight: 500;
    border: none;
    width: 100%;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}

.logout-button:hover {
    background-color: #ffe470;
    transition: all;
}

.caution {
    color: #2b333b;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/* Search */

.search-container {
    display: flex;
    gap: 6px;
    max-width: 300px;
    width: 100%;
    align-items: center;

}

.search-input {
    background: #ffffff;
}

.search-button {
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 8px;
    border-radius: 8px;
    width: 40px;
    height: 40px;

}

.no-results {
    text-align: center;
    color: #555;
    font-style: italic;
    margin-top: 2rem;
}


/* Pagination */

.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pagination a {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    color: #1f8fff;
    border-radius: 8px;
    text-decoration: none;
}

.pagination span.current {
    background-color: #1f8fff;
    color: white;
    pointer-events: none;
    pointer-events: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
