
.orders-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.orders-container h1 {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 24px;
}


.orders-table {
    width: 100%;
    border-collapse: collapse;
}


.orders-thead th {
    background-color: #f4f4f4;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
}


.orders-tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.orders-tbody tr:hover {
    background-color: #f9f9f9;
}


.orders-tbody td {
    padding: 10px 15px;
    vertical-align: middle;
}


.order-product-image {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}


.td-button {
    background-color: #1f8fff;
    color: #fff !important;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.orders-tbody td a {
    color: #007bff;
    text-decoration: none;
}

.orders-tbody td a:hover {
    text-decoration: underline;
}