.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}

.main-profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px;
    width: 100%;
}

@media (max-width: 640px) {
    .profile {
        justify-content: center;
        gap: 0.5rem
    }
}

.profile-form-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 24px;


}

.image-uploader {
    background: none;
    border: none;
}

.profile-image img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-info-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    width: 100%;
}

@media (max-width: 800px) {
    .profile-info-container {
        flex-direction: column;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;

}

.wallet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.wallet-balance {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
}

.wallet-coins {
    background: #fffbe5;
    border: 1px solid #ffd900;
}

.wallet-money {
    background: #B9D4AA;
    border: 1px solid #38761d;
}

@media (max-width: 640px) {
    .wallet-balance {
        width: 100%;
    }

    .wallet {
        margin-top: 16px;
    }
}

.money {
    font-weight: bold;
    font-size: 2rem;
    color: #38761d;
}

.amount {
    font-weight: bold;
    font-size: 2rem;
    color: #ffd900;
}

.delete-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

}

/* Buy Coins */


.coins-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.coins {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

@media (max-width: 640px) {
    .coins {
        grid-template-columns: 1fr;
    }
}

.coin {
    background: #fafafa;
    border: 1px solid #e0e5eb;
    border-radius: 12px;
    padding: 16px;
    cursor: pointer;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.coin:hover {
    background: #ffd900;
    transition: all;
}

.coin-value {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2b333b;
}

.coin-price {
    font-weight: bold;
    font-size: 1rem;

}
