<div class="auction-main-heading">
  <div>
    <h1>Live Auctions</h1>
    <p>Discover amazing deals and place your bids</p>
  </div>

  <%= render "products/search" %>

</div>


<%= turbo_stream_from "products" %>

<div id="products" class="products">
  <% if @products.any? %>
    <%= render @products %>
  <% else %>
    <p>You haven’t created any auctions yet.</p>
  <% end %>

</div>

<% if @products.any? %>
  <div class="pagination">
    <%= paginate @products %>
  </div>
<% end %>


