<div class="auction-main-heading">
  <div>
    <h1>My Auctions</h1>
    <p>All the auctions you created are listed below:</p>
  </div>

  <%= render "products/search" %>

</div>



<div id="products" class="products">
  <% if @products.any? %>
    <%= render @products %>
  <% else %>
    <p>You haven’t created any auctions yet.</p>
  <% end %>
</div>


<% if @products.any? %>
  <div class="pagination">
    <%= paginate @products %>
  </div>
<% end %>